:host {
  header {
    height: 200px;
    text-align: center;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .users-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    max-width: 60%;

    &__list_actions {
      align-self: stretch;
    }
  }
}
