<div class="user-item" (click)="handleClickUser()">
  <img alt="user-item__image" [src]="imageSrc" />

  <p class="user-item__name">{{ user().firstname }} {{ user().lastname }}</p>

  <p class="user-item__email">{{ user().email }}</p>

  <p class="user-item__phone">{{ user().phone }}</p>

  <p class="user-item__nat">
    {{ user().nat }} ({{
      allUsers() | nationalitiesCount: user().nat || CONSTANTS.EMPTY_STRING
    }})
  </p>
</div>

<div class="user-expanded" [class.expanded]="isDisplayUserDetails()">
  <div class="user-expanded__details">
    <p>User details</p>
    <p>
      <span>Username:</span>
      <span>{{ user().login?.username }}</span>
    </p>
    <p>
      <span>Registered:</span>
      <span>{{ user().dob?.date | date }}</span>
    </p>
    <p>
      <span>Age:</span>
      <span>{{ user().dob?.age }}</span>
    </p>
    <p>
      <span>Address:</span>
      <span
        ><a [href]="user() | googleMaps" target="_blank">{{
          user() | address
        }}</a></span
      >
    </p>
  </div>
  <div class="user-expanded__actions">
    <p>Quick Actions</p>
    <button>Edit</button>
    <button>Delete</button>
  </div>
</div>
