@import "ease/ease-import.scss";

:host {
  .user-list {
    background-color: $color-white;
    border: 12px solid $color-sky;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 100%;
    padding: 12px;
    @include shadow("xs");
  }
}
